.container{
    margin-left: 600px;
    margin-top: 200px;
}
.widget {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .widget h1 {
    margin: 0 0 16px 0;
    font-size: 1.20em;
    font-weight: 550;
    padding: 16px;
    color: var(--grey);
  }
  
  