@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;

  /* Colors */
  --grey: #404040;
  --white: #f4f5f6;
  --greywhite: #f7f7f7;
  --pretty-green: #49bca0;
  --color-black: #000;
  --black: #1e1e1e;

  /* Border radiuses */
  --br-5xs: 8px;
}

#__next {
  @apply flex flex-1 flex-col;
}

html body {
  line-height: normal;
}
