.desktop1Child {
  position: absolute;
  top: 0;
  left: -1px;
  background-color: var(--greywhite);
  width: 326px;
  height: 1024px;
}
.smartlibrary {
  top: 0;
  left: 0;
  letter-spacing: 0.17px;
  line-height: 143%;
}
.smartlibraryWrapper {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 48px;
  left: 64px;
  width: 138px;
  height: 29px;
  font-size: 20px;
  color: var(--black);
}
.admin,
.izvanPolice,
.pregledPolica {
  position: absolute;
  top: 296px;
  left: 91px;
  letter-spacing: 0.17px;
  line-height: 143%;
  font-weight: 500;
  color: var(--color-black);
}
.admin,
.izvanPolice {
  top: 368px;
}
.admin {
  display: flex;
  gap: 10px;
  top: 152px;
}
.pregledPolica{
  display: flex;
  gap: 10px;
}
.izvanPolice{
  display: flex;
  gap: 10px;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(hello--white);
  width: 325px;
  height: 52px;
}
.search {
  position: absolute;
  top: 16px;
  left: 31px;
  letter-spacing: 0.17px;
  line-height: 143%;
  font-weight: 500;
  display: flex;
  gap: 180px
}
.rectangleParent {
  position: absolute;
  top: 50px;
  left: 381px;
  width: 325px;
  height: 52px;
  font-size: var(--font-size-sm);
}
.desktop1Item {
  position: absolute;
  top: 209px;
  left: 52px;
  border-radius: var(--br-5xs);
  width: 230px;
  height: 52px;
}
/* .izvjestaji:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--pretty-green);
} */
.izvjestaji {
  position: absolute;
  display: flex;
  gap: 10px;
  top: 224px;
  left: 91px;
  letter-spacing: 0.17px;
  line-height: 143%;
  font-weight: 500;
  color: var(--black);
}
.izvjetaji1,
.odaberitePolicuZa {
  position: absolute;
  top: 208px;
  left: 387px;
}
.izvjetaji1 {
  top: 147px;
  font-size: 32px;
  font-weight: 600;
}
.groupInner,
.groupItem {
  position: absolute;
  top: 0;
  border-radius: var(--br-5xs);
  width: 201px;
}
.groupItem {
  left: 1px;
  background-color: var(--white);
  height: 63px;
}
.groupInner {
  left: 0;
  border: 2px solid var(--white);
  box-sizing: border-box;
  height: 191px;
}
.crvenaPolica,
.plavaPolica,
.zelenaPolica {
  position: absolute;
  top: 22px;
  left: 73px;
  font-weight: 600;
  display: inline-block;
  width: 131px;
}
.plavaPolica,
.zelenaPolica {
  top: 84px;
  left: 72px;
  width: 130px;
}
.zelenaPolica {
  top: 146px;
  left: 73px;
  width: 123px;
}
.rectangleGroup {
  position: absolute;
  top: 269px;
  left: 383px;
  width: 204px;
  height: 191px;
  font-size: var(--font-size-sm);
}
.desktop1 {

  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--grey);
  font-family: var(--font-poppins);
}
