.navbar{
  list-style: none; /* Uklanja oznake sa liste */
  padding: 0; /* Uklanja padding sa liste */
  display: flex; /* Postavlja stavke u red */
  gap: 20px; /* Postavlja razmak između stavki */
  position: absolute; /* Omogućava pozicioniranje na vrh i lijevo */
  top: 0; /* Postavlja na vrh */
  left: 0; /* Postavlja na lijevu stranu */
}

